{% extends 'base.html' %}
{% load heat_helpers %}
{% block extended_head %}
<script type="text/javascript">
$(document).ready(function() {
   $('.dataTable').each(function(){
       $(this).dataTable({
           "searching": false,
           "pageLength": 30,
           "paging": false,
           "info": false,
           "autoWidth": false
       });
   });
});
</script>
{% endblock %}
{% block content %}
<table class="table table-bordered table-hover dataTable" id="heat{{ heat.id }}">
    <thead>
        <tr role="row">
            <th class="sorting_asc index" aria-controls="heat{{ heat.id }}">Heat {{ heat.number }}</tH>
            {% for racer in racers %}
            <th class="sorting" tabindex="0" aria-controls="heat{{ heat.id }}" rowspan="1" colspan="1">{{ racer }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for lap in most_laps_range %}
        <tr class="{% cycle 'odd' 'even' %} lap">
            <td class="index">{{ lap }}</td>
            {% for racer, racer_laps in laps.items %}
            <td>{{ racer_laps|value_at:lap }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="index">avg</td>
            {% for racer, racer_laps in laps.items %}
            <td class="avg">
			    {{ racer_laps|avg }}
            </td>
            {% endfor %}
        </tr>
        <tr>
            <td class="index">min</td>
            {% for racer, racer_laps in laps.items %}
            <td class="min">
			    {{ racer_laps|min }}
            </td>
            {% endfor %}
        </tr>
        <tr>
            <td class="index">max</td>
            {% for racer, racer_laps in laps.items %}
            <td class="max">
			    {{ racer_laps|max }}
            </td>
            {% endfor %}
        </tr>
        <tr>
            <td class="index">stddev</td>
            {% for racer, racer_laps in laps.items %}
            <td class="stddev">
			    {{ racer_laps|stddev }}
            </td>
            {% endfor %}
        </tr>
    </tfoot>
</table>
{% endblock %}
