{% extends 'base.html' %}
{% load heat_helpers %}
{% block head %}
{% endblock %}
{% block content %}
<div class="heat panel panel-default col{{ column_count }}">
	<div class="panel-heading">HEAT RESULTS: {{ heat.day }}</div>
	<div class="column index">
		<div class="header">
			Heat {{ heat.number }}
		</div>
		{% for i in most_laps_range %}
		<div class="row">
			{{ i }}
		</div>
		{% endfor %}
		<div class="row summary avg">
			avg
		</div>
		<div class="row summary min">
			min
		</div>
		<div class="row summary max">
			max
		</div>
		<div class="row summary stddev">
			stddev
		</div>
	</div>
	{% for racer, racer_laps in laps.items %}
	<div class="column">
		<div class="row header">
			{{ racer }}
		</div>
		{% for lap in racer_laps %}
		<div class="row lap{% if lap == racer_laps|min %} min{% elif lap == racer_laps|max %} max{% endif %}">
			{{ lap }}
		</div>
		{% if forloop.last and forloop.counter < most_laps %}
		{% for blank in forloop.counter|xrange_tag:most_laps %}
		<div class="row">
			-
		</div>
		{% endfor %}
		{% endif %}
		{% endfor %}
		<div class="row summary avg">
			{{ racer_laps|avg }}
		</div>
		<div class="row summary min">
			{{ racer_laps|min }}
		</div>
		<div class="row summary max">
			{{ racer_laps|max }}
		</div>
		<div class="row summary stddev">
			{{ racer_laps|stddev }}
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
