body {
    font-family: 'Calibri';
	table {
		thead {
			border-bottom: 2px solid grey;
		}
		tr {
			&.odd {
				background-color:#f9f9f9;
			}
		}
	}
	@media(min-width:768px) {
		.navbar-static-side {
			width: 175px;
		}
		#page-wrapper {
			margin: 0 0 0 175px;
		}
	}
}

#content {
	margin-top:15px;
}
#content {
    float: left;
}