body {
    font-family: 'Calibri';
	table {
		thead {
			border-bottom: 2px solid grey;
		}
		tr {
			&.odd {
				background-color:#f9f9f9;
			}
		}
		tfoot {
			tr {
				.min, .max, .avg, .stddev {
					background-color:#c9c9c9;
					text-align: right;
				}
			}
		}
		.index {
			font-weight: bold;
		}
		.lap {
			text-align: right;
		}
	}
	@media(min-width:768px) {
		.navbar-static-side {
			width: 175px;
		}
		#page-wrapper {
			margin: 0 0 0 175px;
		}
	}
}

#page-wrapper {
	#header {
		font-weight: bolder;
		font-size: 1.2em;
		margin-left: -10px;
	}	
	#content {
		margin-top:15px;
		float: left;
	}
}