/* line 1, ../sass/tracker/sass/screen.scss */
body {
  font-family: 'Calibri';
}
/* line 4, ../sass/tracker/sass/screen.scss */
body table thead {
  border-bottom: 2px solid grey;
}
/* line 8, ../sass/tracker/sass/screen.scss */
body table tr.odd {
  background-color: #f9f9f9;
}
/* line 13, ../sass/tracker/sass/screen.scss */
body table tfoot .min, body table tfoot .max, body table tfoot .avg, body table tfoot .stddev {
  background-color: #c9c9c9;
  text-align: right;
}
/* line 18, ../sass/tracker/sass/screen.scss */
body table .index {
  font-weight: bold;
}
/* line 21, ../sass/tracker/sass/screen.scss */
body table .lap {
  text-align: right;
}
@media (min-width: 768px) {
  /* line 26, ../sass/tracker/sass/screen.scss */
  body .navbar-static-side {
    width: 175px;
  }
  /* line 29, ../sass/tracker/sass/screen.scss */
  body #page-wrapper {
    margin: 0 0 0 175px;
  }
}

/* line 35, ../sass/tracker/sass/screen.scss */
#content {
  margin-top: 15px;
}

/* line 38, ../sass/tracker/sass/screen.scss */
#content {
  float: left;
}
